body {
	margin: 0;
	min-height: 100vh;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0f0f0f;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	text-align: center;
	opacity: 0;
	animation: fadeIn 1.5s ease forwards;
}

h1 {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.subtitle {
	font-size: 1.2rem;
}

.subtitle a {
	color: #4da3ff;
	text-decoration: none;
	margin: 0 10px;
}

.subtitle a:hover {
	text-decoration: underline;
}

#randomImage {
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
	object-fit: contain;
	padding: 10px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.bio-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-top: 30px;
	text-align: left;
	max-width: 900px;
}

.bio-text {
	flex: 1;
}

.bio-text p {
	line-height: 1.6;
	margin-bottom: 1rem;
}

.bio-text p a {
	text-decoration: none;
	color: #4da3ff;
}

.portrait {
	flex-shrink: 0;
}

.portrait img {
	width: 220px;
	height: auto;
	object-fit: cover;
}

@media (max-width: 768px) {
	.bio-content {
		flex-direction: column;
		text-align: center;
	}

	.bio-text {
		text-align: center;
	}

	.portrait img {
		width: 180px;
	}

	.albums {
		flex-direction: column;
	}
}

.albums-wrapper {
  margin: 40px auto 0 auto;   
  width: 100%;
  max-width: 1100px;
  overflow-x: auto;
  padding: 0 20px 20px 20px;
}

.albums {
  display: flex;
  gap: 40px;
  scroll-snap-type: x mandatory;
}

.album {
  min-width: 250px;
  max-width: 250px;
  flex-shrink: 0;
  text-align: center;
  scroll-snap-align: center;
  transition: transform 0.3s ease;
}

.album:hover {
  transform: scale(1.05);
}

.album img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.album h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.album p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #cccccc;

  width: 75%;
  margin: 0 auto;
}

.albums-wrapper::-webkit-scrollbar {
  display: none;
}

.albums-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.album-link {
  text-decoration: none;
  color: inherit;
}

.album-link:hover {
  cursor: pointer;
}

.other-works i {
  font-size: 28px;
  padding: 2px;
}

.other-works a {
  text-decoration: none;
  color: inherit;
}

.fa-spotify { color: #1DB954; }
.fa-soundcloud { color: #FF5500; }
.fa-apple { color: #FA57C1; }
.fa-bandcamp { color: #629AA0; }