/* ethan.is CSS */

/* background gradient */
@keyframes RGBgrad {
   0% {background-color: #400000;}
   16% {background-color: #402500;}
   33% {background-color: #404000;}
   50% {background-color: #004000;}
   66% {background-color: #000040;}
   83% {background-color: #400040;}
   100% {background-color: #400000;}
   
}

/* <div> classes */
.centeredasf {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.small {line-height: 0.5;}

/* alter elements */
body {
   color: white;
   font-family: "Helvetica";
   text-align: center;
   animation: RGBgrad 20s infinite;
}

a:link {color: darkgray;}
a:visited {color: darkgray;}
a:link.announce {color: #ffffbf;}
a:visited.announce {color: #ffffbf;}
